<div class="container-col-content-start">
  <div class="container-item">
    <div class="container-item-row">
      <div class="header">{{'header' | translate}}</div>
    </div>
    <div class="container-item-row">
      <div class="container-item-col">
        <label class="item-label">{{'label' | translate}}</label>
        <dx-select-box
          [dataSource]="types$ | async"
          [valueExpr]="'id'"
          [displayExpr]="'name'"
          [value]="typeId"
          (valueChange)="typeValueChange($event)"
        >
        </dx-select-box>
      </div>
      <div class="container-item-col">
        <label class="item-label">{{'label' | translate}}</label>
        <dx-select-box
          [dataSource]="brands$ | async"
          [valueExpr]="'id'"
          [displayExpr]="'name'"
          [value]="brandId"
          (valueChange)="brandValueChange($event)"
        >
        </dx-select-box>
      </div>
    </div>
    <div class="container-item-row item-space-around">
      <dx-button
        [text]="'Translate to English'"
        [stylingMode]="'outlined'"
        [type]="'success'"
        (onClick)="switchLanguage('en')"
      >
      </dx-button>
      <dx-button
        [text]="'Translate to Vietnamese'"
        [stylingMode]="'outlined'"
        [type]="'success'"
        (onClick)="switchLanguage('vn')"
      >
      </dx-button>
    </div>
    <div class="container-item-row">
      <div class="item-middle">
        <button matStepperNext>Next step<i class="fa fa-arrow-down btn-icon"></i></button>
      </div>
    </div>
  </div>
</div>
