<div class="container-col-item-center">
  <div class="title">Title</div>
  <mat-vertical-stepper>
    <mat-step>
      <app-step1
        [typeId]="requestWrite.typeId!"
        [brandId]="requestWrite.brandId!"
        (onTypeValueChange)="requestWrite.typeId = $event"
        (onBrandValueChange)="requestWrite.brandId = $event">
      </app-step1>
    </mat-step>
    <mat-step>
      <app-step2
        [serviceId]="requestWrite.serviceId!"
        [packageIds]="requestWrite.packageIds!"
        (onServiceValueChange)="requestWrite.serviceId = $event"
        (onPackageValueChange)="requestWrite.packageIds = $event"
      >
      </app-step2>
    </mat-step>
    <mat-step>
      <app-step3
        [optionIds]="requestWrite.optionIds!"
        [anotherOptionIds]="requestWrite.anotherOptionIds!"
        (onOptionValueChange)="requestWrite.optionIds = $event"
        (onAnotherOptionValueChange)="requestWrite.anotherOptionIds = $event">
      </app-step3>
    </mat-step>
    <mat-step>
      <app-step4
        [description]="requestWrite.description!"
        [note]="requestWrite.note!"
        (onDescriptionValueChange)="requestWrite.description = $event"
        (onNoteValueChange)="requestWrite.note = $event">
      </app-step4>
    </mat-step>
    <mat-step>
      <app-step5
        [customer]="requestWrite.customer!"
        (onCustomerValueChange)="requestWrite.customer = $event">
      </app-step5>
    </mat-step>
  </mat-vertical-stepper>
  <div class="container-item-row item-space-around">
    <div *ngIf="isSaved">Saved</div>
    <button (click)="submit()">Submit</button>
    <button (click)="load()">Load latest</button>
  </div>
</div>
