<div class="container-col-item-center">
  <div class="title">Title</div>
  <mat-vertical-stepper>
    <mat-step>
      <app-step1
        [typeId]="1"
        [brandId]="1"
        (onTypeValueChange)="requestWrite.typeId = $event"
        (onBrandValueChange)="requestWrite.brandId = $event">
      </app-step1>
    </mat-step>
    <mat-step>
      <app-step2
        [serviceId]="2"
        [packageIds]="[2]"
        (onServiceValueChange)="requestWrite.serviceId = $event"
        (onPackageValueChange)="requestWrite.packageIds = $event"
      >
      </app-step2>
    </mat-step>
    <mat-step>
      <app-step3
        [optionIds]="[1,2]"
        [anotherOptionIds]="[1,2]"
        (onOptionValueChange)="requestWrite.optionIds = $event"
        (onAnotherOptionValueChange)="requestWrite.anotherOptionIds = $event">
      </app-step3>
    </mat-step>
    <mat-step>
      <app-step4
        [description]="'description'"
        [note]="'note'"
        (onDescriptionValueChange)="requestWrite.description = $event"
        (onNoteValueChange)="requestWrite.note = $event">
      </app-step4>
    </mat-step>
    <mat-step>
      <app-step5
        [customer]="customer"
        (onCustomerValueChange)="requestWrite.customer = $event">
      </app-step5>
    </mat-step>
  </mat-vertical-stepper>
  <div *ngIf="isSaved">Saved</div>
  <button (click)="submit()">Submit</button>
</div>
